



<div class="ask">
  <h1>Coach, can I stay in bed?</h1>
<form action="/answer" method="get">
  <input type="text" name="question" placeholder="Try your luck!">
  <input type="submit">
</form>
</div>


